@import "bourbon";

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


@import url(http://fonts.googleapis.com/css?family=Roboto:100,200,300,300italic,400);


$mustardtint: rgba(255, 178, 0, 0.9);
$mustard: rgb(255, 178, 0);

$intro: 3s;
$popwidth: 40vw;

body {
	background: #FFFFFF;
	font-family: 'Roboto';
	-webkit-font-smoothing: antialiased;
}

.shell {
	width: 90%;
	padding: 0 5%;
	max-width: 1020px;
	margin: 0 auto;
}

.svg-logo {
	@include transform(rotate(0deg));
	@include transition(0.3s ease-out all);
	&:hover {
	@include transform(rotate(14deg));

	}
}
header {
	z-index: 0;
	.logo {
		padding: 20px;
		background: $mustard;
		display: inline-block;
		svg {
			margin-left: -10px;
		}

		span {
			font-weight: 400;
			font-size: 1.4em;
			letter-spacing: 0.1em;
			color: white;

		}
	}

}
.popout-outer{
	position: fixed;
	right: 0;
	width: $popwidth;
	height: 100vh;
	overflow: hidden;
	@include transition(0.5s ease-out opacity);

	&.out {
		opacity: 0;
	}

	.popout {
		box-shadow: inset 50px 0px 55px -44px rgba(0,0,0,0.7);
		height: 100vh;
		width: 100vw;
		@include animation(popout-animation 0.3s ease-out);
		@include animation-delay($intro+1);
		@include animation-fill-mode(forwards);
		
		@include transform(translate3d($popwidth,0,0));
		background: url(../images/awesomejungle.jpg);
		background-color: #222;

		background-repeat: no-repeat;
		background-size: contain;
		background-position-x:0vw;
	}
}

@include keyframes(popout-scroll) {

}


@include keyframes(popout-animation) {
	0% {
		@include transform(translate3d($popwidth,0,0));
	}
	100% {
		@include transform(translate3d(0,0,0));
	}
}
@include keyframes(popout-animation-out) {
	0% {
		@include transform(translate3d(0,0,0));
	}
	100% {
		@include transform(translate3d($popwidth,0,0));
	}
}



section.splash {
	.left-col {
		width: 50%;
		float: left;

		.intro {
			margin-top: 10vh;
			h1 {
				font-size: 2.9em;
			}
			h2 {
				font-size: 2em;
				// font-weight: 300;
				line-height: 1.2em;

				font-weight: 300;
				// font-size: 2em;
				color:#999;
				padding-bottom: 20px;
				border-bottom: $mustard 6px solid;
			}


		}

		.work-intro {
			margin-bottom: 300px;
			img {
				width: 24%;
				display: inline-block;
			}
		}
	}
}







.overlay {
	width: 100%;
	height: 100%;
	z-index: 50;

	position: fixed;
	background: $mustard;

	@include animation(overlay-animation $intro ease-out);
	@include animation-fill-mode(forwards);
	@include animation-delay(1s);
  	@include transform(translate3d(0,0,0));


	.overlay-inner {
		margin: 0 auto;
		h1 {
			margin-top: 200px;
			text-align: center;
			color: white;
			font-weight: 200;
			font-size: 4em;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}
	}
}

.overlay-crane-x {
	z-index: 100;
	position: fixed;
	@include animation(crane $intro ease-out);
	@include animation-fill-mode(forwards);
	@include animation-delay(1s);
	@include transform(translate3d(60vw, -120vh, 0));
}

.overlay-crane-y {
	padding-top: 30px;
	position: absolute;
	height: 100vh;
	margin-top:-80px;

	#overlay-crane-cables {
	}
	#overlay-crane {
		margin-top:-30px;
	}

	.overlay-fly-wheel {
		@include transform-origin(center);
		@include animation(flywheel $intro ease-out);
		@include animation-fill-mode(forwards);
		@include animation-delay(1s);
	}
}	


@include keyframes(overlay-animation) {
	0%, 70%{
  		@include transform(translate3d(0,0,0));
	}
	100% {
  		@include transform(translate3d(0,-120vh,0));
	}
}

@include keyframes(crane) {
	0%{
  		@include transform(translate3d(60vw, -120vh, 0));
	}
	20% {
  		@include transform(translate3d(20vw, -50vh, 0));
	}
	35% {
  		@include transform(translate3d(40vw, -60vh, 0));
	}
	68%, 70%{
  		@include transform(translate3d(51vw, 0vh, 0));
	}
	100% {
  		@include transform(translate3d(51vw, -120vh, 0));
	}
}

@include keyframes(flywheel) {
	0%{
  		@include transform(rotate(0));
	}
	20% {
  		@include transform(rotate(800deg));
	}
	35% {
  		@include transform(rotate(600deg));
	}
	68%, 70%{
  		@include transform(rotate(1820deg));
	}
	100% {
  		@include transform(rotate(0));
	}
}